<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Page not found</title>
  </head>

  <body>
    <main class="container mt-5" layout:fragment="main_content">
      <div class="d-flex justify-content-center flex-column">
        <h1>Page not found!</h1>
        <div>
          <a href="/" class="btn btn-primary">Go Home</a>
        </div>
      </div>
    </main>
  </body>
</html>
